<section class="about">
    <div class="header-info">
        <h2>За нас</h2>
    </div>
    <div class="info">
        <h4>Кои сме ние</h4>
        <p>JobBoard.bg е кариерен уеб сайт, създаден през май 2018, със седалище в Бургас, България.</p>
    </div>
    <div class="info">
        <h4>Към какво се стремим?</h4>
        <p>Да Ви предложим интегрирани и ценово - ефективни решения, чрез които да усъвършенстваме ефективността на пазара на работната сила в България, за да се подобри и икономическата среда в страната.<br>Мисията на JobBoard е да се създава стойност за хората, търсещи работа, бизнеса и обществото.<br> Визията на JobBoard е да създава свят, изпълнен с целеустремени и вдъхновени хора, за които работата не е само средство за препитание, а е основен фактор за щастлив и пълноценен живот.</p>

        <strong>Ценностите на компанията са:</strong>
        <ul class="list">
            <li>Доброта</li>
            <li>Щастие</li>
            <li>Компетентност</li>
            <li>Креативност</li>
            <li>Отговорност</li>
        </ul>
    </div>
    <div class="info">
        <h4>Нашият екип</h4>
        <p>Екипът на JobBoard включва обучени и високо квалифицирани специалисти в две основни направления – човешки ресурси и информационни технологии.</p>
        <p>Експертите ни в областта на човешките ресурси са специализирани да предоставят услуги, както на компании, които търсят нови служители и управляват персонал, така и на индивидуални потребители, които търсят нова месторабота и се нуждаят от лично или групово кариерно консултиране.</p>
        <p>За създаването на високотехнологични решения на нашите клиенти и партньори се грижи екип от ИТ специалисти с дългогодишен опит в областите уеб програмиране, бази данни, SEO оптимизация и мобилни комуникации. Те са специализирани в разработването на интегрирани решения за онлайн достъп и управление на комплексни услуги, индивидуални проекти за изграждане и поддръжка на информационни уеб сайтове, предоставяне на онлайн статистическа информация за пазара на труда.</p>
    </div>
</section>
