<form class="add-advert" ng-submit="addAdvert()" ng-show="loaded">
  <h3 ng-if="!isEdit">Публикуване на обява</h3><br />
  <h3 ng-if="isEdit">Промяна на обява</h3><br />

  <!-- City -->
  <div class="form-group">
    <label for="city">Град</label>
    <select class="form-control" id="city" ng-model="advert.city" required>
      <option value="" disabled selected hidden>Избери град</option>
      <option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
    </select>
  </div>

  <!-- Category -->
  <div class="form-group">
    <label for="category">Категория</label>
    <select class="form-control" id="category" ng-model="advert.category" required>
        <option value="" disabled selected hidden>Избери категория</option>
      <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
    </select>
  </div>

  <!-- Type -->
  <div class="form-group">
  <label for="type">Вид заетост</label>
    <select class="form-control" id="type" ng-model="advert.type" required>
        <option value="" disabled selected hidden>Избери вид</option>
      <option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option>
    </select>
  </div>

  <!-- Level -->
  <div class="form-group">
  <label for="level">Ниво на квалификация</label>
    <select class="form-control" id="level" ng-model="advert.level" required>
        <option value="" disabled selected hidden>Избери ниво</option>
      <option ng-repeat="level in levels" value="{{level.id}}">{{level.name}}</option>
    </select>
  </div>

  <!-- Salary -->
  <div class="form-group">
    <label>Заплата - минимум (.лв)
      <input type="number" class="form-control" id="min" ng-model="advert.salary.min" min="0" required />
    </label>

    <label>Заплата - максимум (.лв)
      <input type="number" class="form-control" id="max" ng-model="advert.salary.max" min="0" required />
    </label>
  </div>

  <!-- Title -->
  <div class="form-group">
  <label for="title">Заглавие</label>
    <input class="form-control" id="title" ng-model="advert.title" placeholder="Въведи заглавие" required />
  </div>

  <!-- PAID -->
  <div class="form-group">
    <label for="paid">Вид платена обява</label>
    <select class="form-control" id="paid" ng-model="advert.paid" required>
        <option value="" disabled selected hidden>Избери вид</option>
      <option value="pro">PRO - 150лв</option>
      <option value="top">TOP - 130лв</option>
      <option value="vip">VIP - 110лв</option>
      <option value="free">Безплатна</option>
    </select>
  </div>

  <!-- Description -->
  <div class="form-group">
  <label for="description">Описание и изисквания</label>
    <ng-wig id="description" ng-model="advert.description" required ></ng-wig>
  </div>

  <!-- Submit -->
  <button ng-if="!isEdit" class="btn btn-primary">Публикувай обявата</button>
  <button ng-if="isEdit" class="btn btn-primary">Запази промените</button>
  <div class="alert-div" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)"><span>{{alert.msg}}</span> <a href="/advert/{{id}}">Преглед</a></div>
</form>
