<!-- Admin -->
<div ng-if="loaded && user.role === 'ADMIN'" class="profile-page">
    <section class="user-profile">
        <div class="info-panel">
            <h4>Статистика:</h4>

            <p>Общо публикувани обяви: {{numberOfAdverts}}</p>
            <p>Общо регистрирани потребители: {{numberOfUsers}}</p>
        </div>
        <div class="profil-controll">
            <div class="page-options">
                <strong>Админ панел</strong>
            </div>
            <div class="options">
                <span><a href="/admin/users">Кандидати</a> [{{ numberOfCandidates }}]</span>
            </div>
            <div class="options">
                <span><a href="/admin/categories">Категории</a> [{{ categories }}]</span>
            </div>
            <div class="options">
                <span><a href="/messages">Съобщения</a> [{{ user.messages.length }}]</span>
                </div>
            <div class="options">
                <span><a href="/update-profile">Промяна на лични данни</a></span>
            </div>
        </div>
        <div id="loader" ng-if="timeout"></div>
    </section>
</div>
