<div id="loader" ng-if="timeout"></div>
<div ng-if="loaded" class="advert-page">
  <aside class="advert-left"> 
    <h5>Информация</h5>   
    <div>
      <span>Град:</span>
      <span>{{advert.city}}</span>
    </div>
    <div>
      <span>Категория:</span>
      <span>{{advert.category}}</span>
    </div>
    <div>
      <span>Ниво:</span>
      <span>{{advert.level}}</span>
    </div>
    <div>
      <span>Тип:</span>
      <span>{{advert.type}}</span>
    </div>
    <div>
      <span>Заплата:</span>
      <span>от {{advert.salary.min | currency:"лв."}} до {{advert.salary.max | currency:"лв."}}</span>
    </div>

    <div>
      <span>Изтича на:</span>
      <span>{{advert.isExpired | date}}</span>
    </div>

    <div>
        <span>Брой кандидатствали:</span>
        <span>{{advert.candidates.length}}</span>
    </div>

    <div>
        <span>Брой преглеждания:</span>
        <span>{{advert.views}}</span>
    </div>
    <div>
      <button ng-if="user.role === 'COMPANY'" class="btn btn-danger" ng-click="deleteAdvert()">Премахни обявата</button>
      <button ng-if="user.role === 'ADMIN'" ng-click="blockAdvert()">Блокирай обявата</button>
      <button ng-if="user.role !== 'COMPANY'" class="btn btn-primary" ng-click="save()">Запази в наблюдавани</button>
      <button ng-if="user.role !== 'COMPANY'" class="btn btn-danger" ng-click="reportAdvert()">Направи оплакване</button>
    </div>
  </aside>
  <div class="advert-right">
    <p>{{advert.title}}</p>
    <p>Описание: {{advert.description}}</p>

    <button class="btn btn-success" ng-if="user.role !== 'COMPANY'" ng-click="apply()"><b>Кандидатствай</b></button>
    
  </div>

  <!-- Buttons -->
  
</div>
