<div id="loader" ng-if="timeout"></div>
<div ng-if="loaded">
  <p>Наименование: {{advert.title}}</p>
  <p>Град: {{advert.city}}</p>
  <p>Категория: {{advert.category}}</p>
  <p>Ниво: {{advert.level}}</p>
  <p>Тип: {{advert.type}}</p>
  <p>Описание: {{advert.description}}</p>
  <p>Заплата: {{advert.salary}}</p>

  <p>Изтича на: {{advert.isExpired}}</p>

  <p>Брой кандидатствали: {{advert.candidates.length}}</p>
  <p>Брой преглеждания: {{advert.views}}</p>

  <button ng-if="user.isCompany === false" ng-click="apply()">Кандидатствай</button>
  <button ng-if="user.isCompany === false" ng-click="save()">Запази в любими</button>
  <button ng-if="user.isCompany === false" ng-click="reportAdvert()">Направи оплакване</button>
  <button ng-if="user.isCompany" ng-click="deleteAdvert()">Премахни обявата</button>
  <button ng-if="user.isAdmin" ng-click="blockAdvert()">Блокирай обявата</button>
</div>
