<div id="loader" ng-if="timeout"></div>
<p ng-if="loaded && !adverts">Няма публикувани обяви!</p>
<!-- ng-if="loaded && adverts" -->
<section class="adverts-page">
  <!-- Adverts list -->
  <div class="adverts-list adverts">
    <div class="heading">
      <h2>Oбяви за работа</h2>
      <div>
        <label>Обяви на страница:
          <select ng-model="advertsPerPage" ng-change="beforeChangeSize()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
          </select>
        </label>
      </div>
    </div>
    <div class="adverts-div" dir-paginate="advert in adverts | itemsPerPage: advertsPerPage" total-items="totalAdverts" current-page="pagination.current">
      <div class="advert-logo">
        <div ng-if="advert.paid !== 'free'" ng-class="{
            pro: advert.paid === 'pro',
            top: advert.paid === 'top',
            vip: advert.paid === 'vip'
            }" class="corner-ribbon corner-ribbon-left">
            <div class="ribbon-size">{{advert.paid}}</div>
        </div>
        <img src="{{advert.logo}}">
      </div>
      <div class="advert-info">
        <a href="/advert/{{advert.id}}">
            {{advert.title}}
        </a>
        <div class="advert-sallary">
            <span>Заплата от:
                <b>{{advert.salary.min | currency: "лв."}}</b> до
                <b>{{advert.salary.max | currency: "лв." }}</b>
            </span>
            <div>
                <span>Публикувана на {{ advert.date | date: "fullDate" }}</span>, гр.
                <span>{{advert.city}}</span>
            </div>
        </div>
      </div>
    </div>
    <div class="page-list">
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
  </div>

  <!-- Search form -->
  <form class="add-advert" ng-submit="searchAdvert()">
      <h3>Търсене на обява</h3>
      <!-- Search words -->
      <label for="words">Ключови думи</label>
      <div class="form-group">
        <label>
          <input type="checkbox" id="advanced" ng-model="search.advanced"
        /> търси в описание</label>
        <input class="form-control" id="words" ng-model="search.title" />
      </div>

      <!-- City -->
      <div class="form-group">
          <label for="city">Населено място</label>
          <select class="form-control" id="city" ng-model="search.city">
              <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
            </select>
      </div>

      <!-- Category -->
      <div class="form-group">
          <label for="category">Категория</label>
          <select class="form-control" id="category" ng-model="search.category">
          <option value=""></option>
              <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
          </select>
      </div>

    <!-- Type -->
    <div class="form-group">
      <label for="type">Вид заетост</label>
      <select class="form-control" id="type" ng-model="search.type">
        <option value=""></option>
        <option value="Пълен Работен Ден">Пълен Работен Ден</option>
        <option value="Непълен Работен Ден/Почасова">Непълен Работен Ден</option>
        <option value="Временна/Сезонна/По проект">Временна/Сезонна</option>
        <option value="Постоянна">Постоянна</option>
      </select>
    </div>

    <!-- Level -->
    <div class="form-group">
      <label for="level">Ниво на квалификация</label>
      <select class="form-control" id="level" ng-model="search.level">
        <option value=""></option>
        <option value="Мениджмънт">Мениджмънт</option>
        <option value="Експерти/Специалисти">Експерти/Специалисти</option>
        <option value="Служители/Работници">Служители/Работници</option>
        <option value="Стажанти/Студенти">Стажанти/Студенти</option>
      </select>
    </div>

      <!-- Submit -->
      <button class="btn btn-info">Търси обява</button>
  </form>
</section>
