<div id="loader" ng-if="timeout"></div>
<section ng-if="loaded" class="advert-page">
  <aside>
    <h5>Информация</h5>
    <div ng-if="advert.paid !== 'free'" ng-class="{
      pro: advert.paid === 'pro',
      top: advert.paid === 'top',
      vip: advert.paid === 'vip'
    }" class="side-ribbon left-ribbon"><div class="ribbon-text-size">{{advert.paid}}</div></div>
    <div class="advert-info">
        <div>
            <span class="bold">Организация:</span>
            <a href="/company/{{advert.companyId}}">{{advert.company}}</a>
          </div>
        <div>
          <span class="bold">Град:</span>
          <span>{{advert.city}}</span>
        </div>
        <div>
          <span class="bold">Категория:</span>
          <span>{{advert.category}}</span>
        </div>
        <div>
          <span class="bold">Ниво:</span>
          <span>{{advert.level}}</span>
        </div>
        <div>
          <span class="bold">Тип:</span>
          <span>{{advert.type}}</span>
        </div>
        <div>
          <span class="bold">Заплата:</span>
          <span>от {{advert.salary.min | currency:"лв."}} до {{advert.salary.max | currency:"лв."}}</span>
        </div>

        <div>
          <span class="bold">Изтича на:</span>
          <span>{{advert.isExpired | date}}</span>
        </div>

        <div>
            <span class="bold">Брой кандидатствали:</span>
            <span>{{advert.candidates.length}}</span>
        </div>

        <div>
            <span class="bold">Брой преглеждания:</span>
            <span>{{advert.views}}</span>
        </div>
    </div>

    <div class="buttons">
      <a href="/advert/{{advert.id}}/edit"
        ng-if="$root.user.id === advert.companyId"
        class="btn btn-primary">Промени обявата</a>

      <!-- Buttons -->
      <button ng-if="$root.user.id === advert.companyId"
              class="btn btn-danger"
              ng-click="deleteAdvert()"
      >Премахни обявата</button>

      <button ng-if="$root.user.role === 'ADMIN'"
              class="btn btn-danger"
              ng-click="blockAdvert()"
      >Блокирай обявата</button>

      <button ng-if="$root.user.role !== 'COMPANY'"
              class="btn btn-primary"
              ng-click="save()"
      >Запази в наблюдавани</button>

      <button ng-if="$root.user.role !== 'COMPANY'"
              class="btn btn-danger"
              ng-click="reportAdvert()"
      >Съобщи за нередност</button>
    </div>
  </aside>
  <main>
    <div ng-if="advert.logo" class="company-picture">
        <img ng-src="{{advert.logo}}">
    </div>
    <h1>{{advert.title}}</h1>
    <div class="advert-description">
      <h4>Описание и изисквания:</h4>
      <div ng-bind-html="advert.description" class="discription"></div>
    </div>

    <button class="btn btn-success" ng-if="$root.user.role !== 'COMPANY'" ng-click="apply()"><b>Кандидатствай</b></button>
  </main>
</section>
