<div id="loader" ng-if="timeout"></div>
<p ng-if="loaded && !adverts.length">Няма публикувани обяви!</p>

<div class="adverts-page" ng-if="loaded">
  <!-- Adverts table -->
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="advert in adverts">
        <td>PAID</td>
        <td colspan="2">
          <a href="#!/advert/{{advert.id}}"><p>{{advert.title}}</p></a>
          <span>Заплата от: <b>{{advert.salary.min | currency: "лв."}}</b> до <b>{{advert.salary.max | currency: "лв." }}</b></span><br />
          <span>{{ advert.date | date: "fullDate" }}</span>, гр. <span>{{advert.city}}</span>
        </td>
        <td>{{advert.img}} LOGO</td>
        <td>{{advert.company}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <!-- Pagination -->
          <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="changePage()" previous-text="Назад" next-text="Напред"></ul>
      </td>
      </tr>
    </tfoot>
  </table>

  <!-- Search form -->
  <form class="add-advert" ng-submit="searchAdvert($event)">
      <h3>Търсене на обява</h3>
      <!-- Search words -->
      <div class="form-group">
          <label for="words">Ключови думи</label>
          <input class="form-control" id="words" ng-model="advert.words" />
      </div>

      <!-- City -->
      <div class="form-group">
          <label for="city">Населено място</label>
          <select class="form-control" id="city" ng-model="advert.city">
              <option ng-repeat="city in cities" value="{{city}}">{{city}}</option>
            </select>
      </div>

      <!-- Category -->
      <div class="form-group">
          <label for="category">Категория</label>
          <select class="form-control" id="category" ng-model="advert.category">
          <option value=""></option>
              <option ng-repeat="category in categories" value="{{category}}">{{category}}</option>
          </select>
      </div>

    <!-- Type -->
    <div class="form-group">
      <label for="type">Вид заетост</label>
      <select class="form-control" id="type" ng-model="advert.type" required>
        <option value=""></option>
        <option value="Пълен Работен Ден">Пълен Работен Ден</option>
        <option value="Непълен Работен Ден/Почасова">Непълен Работен Ден</option>
        <option value="Временна/Сезонна/По проект">Временна/Сезонна</option>
        <option value="Постоянна">Постоянна</option>
      </select>
    </div>

    <!-- Level -->
    <div class="form-group">
      <label for="level">Ниво на квалификация</label>
      <select class="form-control" id="level" ng-model="advert.level" required>
        <option value=""></option>
        <option value="Мениджмънт">Мениджмънт</option>
        <option value="Експерти/Специалисти">Експерти/Специалисти</option>
        <option value="Служители/Работници">Служители/Работници</option>
        <option value="Стажанти/Студенти">Стажанти/Студенти</option>
      </select>
    </div>

      <!-- Submit -->
      <button class="btn btn-info">Търси обява</button>
  </form>
</div>
