<section class="login-users-form">
    <form class="register-users" name="registerUsers" ng-submit="register($event)">
        <h2>Регистрация:</h2>

        <div class="radios">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="candidate" ng-checked="registerUser.isCompany" name="is-company" ng-value="false" ng-model="registerUser.isCompany" class="custom-control-input" />
                <label class="custom-control-label" for="candidate">Кандидат</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="company" ng-checked="registerUser.isCompany" name="is-company" ng-value="true" ng-model="registerUser.isCompany" class="custom-control-input" />
                <label class="custom-control-label" for="company">Работодател</label>
            </div>
        </div>

        <div ng-if="!registerUser.isCompany" >
            <label><span>*</span>Име
                <input class="inputs" name="username" type="text" required ng-model="registerUser.firstName" />
            </label>
        </div>

        <div ng-if="!registerUser.isCompany" >
            <label><span>*</span>Фамилия
                <input class="inputs" name="username" type="text" required ng-model="registerUser.lastName" />
            </label>
        </div>

        <div ng-if="registerUser.isCompany" >
            <label><span>*</span>Юридическо име на фирмата
                <input class="inputs" name="username" type="text" required ng-model="registerUser.title" />
            </label>
        </div>

        <div ng-if="registerUser.isCompany" >
            <label><span>*</span>ЕИК/БУЛСТАТ
                <input class="inputs" name="username" type="text" required ng-model="registerUser.bulstat" />
            </label>
        </div>

        <label><span>*</span>E-mail
            <input class="inputs" name="email" type="email" required ng-model="registerUser.email" />
        </label>

        <label><span>*</span>Парола
            <input class="inputs" name="pass" type="password" required ng-model="registerUser.password" />
        </label>

        <label><span>*</span>Повторете паролата
            <input class="inputs" name="repeat-pass" type="password" required ng-model="registerUser.repeatPassword" />
        </label>

        <div class="required-info">
            <span>*</span>
            <p>Задължително поле</p>
        </div>
        <span class="agreed">
            <input type="checkbox" name="agreed" required />Съгласен съм с <a href="/">Общите условия</a>
        </span>

        <div class="error"></div>
        <div class="buttons">
            <button class="btn btn-primary" 
                    ng-disabled="registerUsers.$invalid" 
                    ng-style="{ 'cursor' : (!registerUsers.$invalid) ? 'pointer' : 'normal' }"
            >Регистрация</button>
        </div>
    </form>

    <form class="sign-in-users" name="loginUsers" ng-submit="login($event)">
        <h2>Вход:</h2>

        <label>E-mail
            <input class="inputs" name="username" type="text" ng-model="user.email" required />
        </label>

        <label>Парола
            <input class="inputs" name="pass" type="password" ng-model="user.password" required />
        </label>
        <div class="error"></div>
        <div class="buttons">
            <button class="btn btn-primary"
                    ng-disabled="loginUsers.$invalid" 
                    ng-style="{ 'cursor' : (!loginUsers.$invalid) ? 'pointer' : 'normal' }"
            >Вход</button>
            <a href="/">Забравена парола</a>
        </div>
        <p>Ако нямате регистрация, моля регистрирайте се, за да създадете свой профил, където може да качите своето CV и да кандидатствате по избраните от вас обяви за работа.</p>
    </form>
</section>
