<!-- Add category modal -->
<script type="text/ng-template" id="add-category.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Добавяне на категория</h3>
    </div>
    <form ng-submit="ok()">
        <div class="modal-body" id="modal-body">
            <div class="form-group">
                <label for="title">Име на категорията</label>
                <input class="form-control" ng-model="categoryName" id="title" placeholder="Въведи име" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Добави</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Откажи</button>
        </div>
    </form>
</script>

<!-- Edit category modal -->
<script type="text/ng-template" id="edit-category.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Преименуване на категория</h3>
    </div>
    <form ng-submit="ok()">
        <div class="modal-body" id="modal-body">
            <div class="form-group">
                <label for="title">Име на категорията</label>
                <input class="form-control" ng-model="categoryName" id="title" placeholder="Въведи име" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Преименувай</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Откажи</button>
        </div>
    <form>
</script>

<section class="users-page">
    <div class="header-info">
        <h2>Категории</h2>
    </div>
    <div id="loader" ng-show="timeout"></div>
    <p ng-if="loaded && !categories.length">Няма Категории!</p>

    
    <table class="table table-striped" ng-if="categories">
        <thead>
            <tr>
                <th scope="col" ng-click="sort()">
                    Име
                    <span ng-if="sorted" >
                        <i class="fas fa-angle-up"></i>
                    </span>
                    <span ng-if="!sorted" >
                        <i class="fas fa-angle-down"></i>
                    </span>
                </th>
                <th scope="col">
                    <button type="button" class="btn btn-success" ng-click="openAddCategory()"><i class="fas fa-plus"></i> Добави</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in categories track by $index">
                <td>{{ category.name }}</td>
                <td>
                    <button type="button" class="btn btn-primary" title="Промяна на категория" ng-click="openEditCategory(category.id, $index, category.name)">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <button
                        class="btn btn-danger"
                        mwl-confirm
                        title="Премахване на категория"
                        message="Сигурни ли сте, че искате да премахнете категорията?"
                        confirm-text="Премахни"
                        cancel-text="Откажи"
                        placement="bottom"
                        on-confirm="removeCategory(category.id, $index)"
                        on-cancel="cancelClicked = true"
                        confirm-button-type="danger"
                        cancel-button-type="default"
                    ><i class="fas fa-times"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
