<div id="loader" ng-if="timeout"></div>
<h5 ng-if="loaded && !companies">Няма регистрирани работодатели!</h5>
<section class="companies-page container-liquid" ng-if="loaded && companies">
  <div class="header-info">
    <h2>Работодатели</h2>
  </div>
  <div ng-repeat="company in companies" class="companies-div">
    <a href="/company/{{company.id}}">
      <span ng-if="company.img"><img src="{{company.img}}" alt=""></span>
      <span ng-if="!company.img">{{company.title}}</span>
    </a>
  </div>
</section>
