<div id="loader" ng-if="timeout"></div>
<div ng-if="loaded">
  <button ng-if="user.role === 'ADMIN'" ng-click="blockCompany()">Блокирай фирмата</button>
  <button ng-if="user.role === 'USER'" ng-click="reportCompany()">Направи оплакване</button>
  <section class="company-page">
    <div class="header">
      <div class="company-img">
          <img src="{{company.img}}" alt="">
      </div>        
      <h2>{{company.title}}</h2>
    </div>
    <div class="company-info">
      <main>
        <div>
          <h5 ng-if="company.description">За компнанията</h5>
          <div ng-bind-html="company.description"></div>
        </div>
        <div>
          <h5 ng-if="company.contacts">Контакти</h5>
          <p><strong>Адрес: </strong>{{company.contacts.address}}</p>
          <p><strong>Телефон: </strong>{{company.contacts.phone}}</p>
          <p><strong>Официален сайт: </strong>{{company.contacts.website}}</p>
        </div>
      </main>
      <aside>
        <div>
          <h5>Всички обяви на компанията</h5> 
          <div class="adverts-info" ng-repeat="advert in company.adverts">
            <a href="/advert/{{advert.id}}">{{advert.title}}</a>
            <span><strong>Заплата от: {{advert.salary.min | currency: "лв."}}</strong> до <strong>{{advert.salary.max | currency: "лв."}}</strong></span>
            <span><strong>Публикувана на: </strong>{{ advert.date | date }}, гр. {{cities[advert.cityId - 1].name}}</span>
            <span><strong>Категория:</strong> {{categories[advert.categoryId - 1].name}}</span>
          </div>
        </div>                      
      </aside>
    </div>
  </section>
</div>
