<div id="loader" ng-if="timeout"></div>
<div ng-if="loaded">
  <button ng-if="user.role === 'ADMIN'" ng-click="blockCompany()">Блокирай фирмата</button>
  <button ng-if="user.role === 'USER'" ng-click="reportCompany()">Направи оплакване</button>
  <section class="company-page">
    <div class="header">
      <div class="company-img">
          <img src="{{company.img}}" alt="">
      </div>        
      <h2>{{company.title}}</h2>
    </div>
    <div class="company-info">
      <main>
        <div>
          <h5>За компнанията</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div>
          <h5>Контакти</h5>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
        </div>
      </main>
      <aside>
        <div>
          <h5>Всички обяви на компанията</h5> 
          <div class="adverts-info" ng-repeat="advert in company.adverts">
            <a href="/advert/{{advert.id}}">{{advert.title}}</a>
            <span><strong>Заплата от: {{advert.salary.min | currency: "лв."}}</strong> до <strong>{{advert.salary.max | currency: "лв."}}</strong></span>
            <span><strong>Публикувана на: </strong>{{ advert.date | date }}, гр. {{cities[advert.cityId - 1].name}}</span>
            <span><strong>Категория:</strong> {{categories[advert.categoryId - 1].name}}</span>
          </div>
        </div>                      
      </aside>
    </div>
  </section>
</div>
