<section class="faq">
        <div class="header-info">
            <h2>Често задавани въпроси</h2>
        </div>
        <div class="faq-info">
            <h5><i class="fas fa-question-circle"></i> Какво е JobBoard.bg?</h5>
            <p>JobBoard.bg е кариерен уеб сайт, който се ползва от над 10 000 компании в България от всички сектори на икономиката.</p>
        </div>
        <div class="faq-info">
            <h5><i class="fas fa-question-circle"></i> Участва ли JobBoard.bg в процеса на подбор на кандидати?</h5>
            <p>JobBoard.bg е медия. JobBoard.bg не е агенция за подбор на персонал и не участва по никакъв начин в избора на кандидати или последващата комуникация и договарянето на условия.</p>
        </div>
        <div class="faq-info">
            <h5><i class="fas fa-question-circle"></i> Проверяват ли се регистрациите на компаниите?</h5>
            <p>JobBoard.bg прилага водещите стандарти за подсигуряване на надеждността на услугата. Всички компании преминават през стриктна процедура за валидация при регистрация в сайта, преди да имат възможност да публикуват обяви.</p>
        </div>
        <div class="faq-info">
            <div class="question">
                <img src="/images/untitled.png" alt="">
                <h5> Каква е продължителността на обявите в сайта?</h5>
            </div>            
            <p>Обявите са с продължителност 4 седмици. Компаниите имат възможност по всяко време да спрат обявата при достигане на необходимия брой кандидати.</p>
        </div>
        <div class="faq-info">
            <h5><i class="fas fa-question-circle"></i> Как да следя по какви обяви съм кандидатствал?</h5>
            <p>В секцията "Къде сте кандидатсвали" разполагате с пълната история на обявите, за които сте кандидатствали</p>
        </div>
        <div class="faq-info">
            <h5><i class="fas fa-question-circle"></i> Работодателят вижда ли посочените от мен контакти?</h5>
            <p>Да, за обявите, по които сте кандидатствали, работодателят има пълен достъп до предоставените от Вас контакти (телефон, имейл и др.) и информацията във Вашето CV.</p>
        </div>
    </section>