<main>
    <header>
        <h3>Избрани професионални области</h3>
    </header>

    <!-- Carousel -->
    <div class="professional-area">
        <div class="carousel">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <!-- Slide 0 -->
                <div uib-slide index="0">
                    <section>
                        <div class="advert-block">
                            <div>
                                <img src="images/it.jpg" alt="">
                            </div>
                            <div class="links">
                                <a href="">Информационни технологии (IT)</a>
                            </div>
                        </div>

                        <div class="advert-block">
                            <div>
                                <img src="images/acc.jpg" alt="">
                            </div>
                            <div class="links">
                                <a href="">Счетоводство, одит, финанси</a>
                            </div>
                        </div>

                        <div class="advert-block">
                            <div>
                                <img src="images/adm.jpg" alt="">
                            </div>
                            <div class="links">
                                <a href="">Административни и офис дейности</a>
                            </div>
                        </div>

                        <div class="advert-block">
                            <div>
                                <img src="images/bank.jpg" alt="">
                            </div>
                            <div class="links">
                                <a href="">Банки, кредитиране</a>
                            </div>
                        </div>
                    </section>
                </div>

                <!-- Slide 1 -->
                <div uib-slide index="1">
                    <section>
                        <div class="advert-block">
                            <div>
                                <img src="images/eng.jpg" alt="">
                            </div>
                            <div class="links">
                                <a href="">Инженерни и технически дейности</a>
                            </div>
                        </div>

                        <div class="advert-block">
                            <div>
                                <img src="images/media.jpg" alt="">
                            </div>
                            <div class="links">
                                <a href="">Медии</a>
                            </div>
                        </div>

                        <div class="advert-block">
                            <div class="picture">
                                <img src="images/med.jpg" alt="">
                            </div>
                            <div class="links">
                                <a href="">Медицина, фармация, здравеопазване</a>
                            </div>
                        </div>

                        <div class="advert-block">
                            <div>
                                <img src="images/arch.jpg" alt="">
                            </div>
                            <div class="links">
                                <a href="">Архитектура, строителство</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Banner -->
    <section class="banner">
        <h5>
            <span>To help entrepreneurs get their act together</span> before they talk to investors.
        </h5>
    </section>

    <!-- News -->
    <section class="news">
        <h2>Водещи бизнес новини</h2>
        <div class="news-container">
            <div class="news-block">
                <a href="http://www.economy.bg/management/view/31603/BILLA-Bylgariya-planira-da-otkrie-mezhdu-8-i-10-novi-magazina-tazi-godina">
                    BILLA България планира да открие между 8 и 10 нови магазина тази година
                </a>
                <p>Вижте какво сподели управителят на компанията Бойко Сачански пред Economy.bg</p>
            </div>

            <div class="news-block">
                <a href="http://www.economy.bg/appointments/view/31662/Lufthansa-Bylgariya-ima-nov-generalen-menidzhyr-prodazhbi">
                    Lufthansa България има нов генерален мениджър продажби
                </a>
                <p>От 1 май Заид Геблауи ще отговаря за цялата търговска дейност и продажбите на всички авиокомпании от Lufthansa Group на българския пазар.</p>
            </div>

            <div class="news-block">
                <a href="http://www.economy.bg/humancapital/view/31638/Zashto-edin-chuzhdestranen-IT-specialist-izbra-Bylgariya-pred-rodinata-si">
                    Защо един чуждестранен ИТ специалист избра България пред родината си?
                </a>
                <p>Тук човек може да си позволи много повече неща за доста по-малко пари в сравнение с останалите държави от ЕС, казва Денис Юхно, Delivery мениджър в софтуерната компания DataArt.</p>
            </div>
        </div>
    </section>

    <!-- Testimonial -->
    <section class="consulting-woman">
        <article class="testimonial-info">
            <p>We were amazed by how little effort was required on our part to have Consulting WP prepare these materials.
                We exchanged a few phone calls and e-mails, and they… handled the rest.</p>
            <div>
                <h4>Amanda Seyfried</h4>
                <p><strong>Founder & CEO, Arcade Systems</strong></p>
            </div>
        </article>
    </section>

    <!-- Company logos -->
    <section class="companies">
        <div>
            <a href="http://imperiaonline.bg/"><img src="images/companies/ImperiaOnline.png" alt="Imperia Online"></a>
            <a href="https://upnetix.com/"><img src="images/companies/Upnetix.png" alt="Upnetix"></a>
            <a href="http://ittalents.bg/"><img src="images/companies/ittalents.png" alt="IT Talents"></a>
            <a href="https://www.trader.bg/"><img src="images/companies/Traderbg.png" alt="TraderBG"></a>
            <a href="#"><img src="images/companies/nemetschek.png" alt="Nemetschek"></a>
            <a href="#"><img src="images/companies/epam.png" alt="Epam"></a>
        </div>
    </section>
</main>
