<main>
    <header>
        <h3>Избрани професионални области</h3>
    </header>
    <div class="professional-area">
        <a class="left" href="#">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right" href="#">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <section>
            <div class="advert-block">
                <div>
                    <img src="images/it.jpg" alt="">
                </div>
                <div class="links">
                    <a href="">Информационни технологии (IT)</a>
                </div>
            </div>

            <div class="advert-block">
                <div>
                    <img src="images/acc.jpg" alt="">
                </div>
                <div class="links">
                    <a href="">Счетоводство, одит, финанси</a>
                </div>
            </div>

            <div class="advert-block">
                <div>
                    <img src="images/adm.jpg" alt="">
                </div>
                <div class="links">
                    <a href="">Административни и офис дейности</a>
                </div>
            </div>

            <div class="advert-block">
                <div>
                    <img src="images/bank.jpg" alt="">
                </div>
                <div class="links">
                    <a href="">Банки, кредитиране</a>
                </div>
            </div>
        </section>

        <section>
            <div class="advert-block">
                <div>
                    <img src="images/eng.jpg" alt="">
                </div>
                <div class="links">
                    <a href="">Инженерни и технически дейности</a>
                </div>
            </div>

            <div class="advert-block">
                <div>
                    <img src="images/media.jpg" alt="">
                </div>
                <div class="links">
                    <a href="">Медии</a>
                </div>
            </div>

            <div class="advert-block">
                <div class="picture">
                    <img src="images/med.jpg" alt="">
                </div>
                <div class="links">
                    <a href="">Медицина, фармация, здравеопазване</a>
                </div>
            </div>

            <div class="advert-block">
                <div>
                    <img src="images/arch.jpg" alt="">
                </div>
                <div class="links">
                    <a href="">Архитектура, строителство</a>
                </div>
            </div>
        </section>
    </div>

    <section class="banner">
        <h5>
            <span>To help entrepreneurs get their act together</span> before they talk to investors.
        </h5>
    </section>

    <section class="traders">
        <h2>Why Traders Choose Us</h2>
        <div class="article-container">
            <a href="#">
                <h4>Raw Spreads</h4>
                <p>Receive premium pricing from Top Tier financial institutions. Pricing from Top Tier financial institutions.</p>
            </a>

            <a href="#">
                <h4>No Dealing Desk</h4>
                <p>With Consulting WP you’ll get no re-quotes, no dealer intervention and fair order execution.</p>
            </a>

            <a href="#">
                <h4>State of the Art</h4>
                <p>Trade Forex and CFDs with the world’s best trading platforms on your desktop or mobile device.</p>
            </a>
        </div>
    </section>

    <section class="consulting-woman">
        <article class="testimonial-info">
            <p>We were amazed by how little effort was required on our part to have Consulting WP prepare these materials.
                We exchanged a few phone calls and e-mails, and they… handled the rest.</p>
            <footer>
                <h4>Amanda Seyfried</h4>
                <p><strong>Founder & CEO, Arcade Systems</strong></p>
            </footer>
        </article>
    </section>


    <section class="partners">
        <ul>
            <li><a href="#"><img src="images/partner-TVC.png" alt="TVC Marketing"></a></li>
            <li><a href="#"><img src="images/partner-fast-brothers.png" alt=""></a></li>
            <li><a href="#"><img src="images/partner-arcade.png" alt=""></a></li>
            <li><a href="#"><img src="images/partner-KPhone.png" alt=""></a></li>
            <li><a href="#"><img src="images/partner-Edtech.png" alt=""></a></li>
            <li><a href="#"><img src="images/partner-Volker-Stevin.png" alt=""></a></li>
        </ul>
    </section>
</main>