<main class="home-page">
    <header>
        <h3>Професионални области</h3>
    </header>

    <!-- Carousel -->
    <div class="professional-area">  
        <ul>
            <li ng-repeat="category in categories"><a href="/">{{category.name}}</a></li>                
        </ul>            
    </div>

    <!-- Banner -->
    <section class="banner">
        <h5>
            <span>To help entrepreneurs get their act together</span> before they talk to investors.
        </h5>
    </section>

    <!-- News -->
    <section class="news">
        <h2>Водещи бизнес новини</h2>
        <div class="news-container">
            <div class="news-block">
                <a href="http://www.economy.bg/management/view/31603/BILLA-Bylgariya-planira-da-otkrie-mezhdu-8-i-10-novi-magazina-tazi-godina">
                    BILLA България планира да открие между 8 и 10 нови магазина тази година
                </a>
                <p>Вижте какво сподели управителят на компанията Бойко Сачански пред Economy.bg</p>
            </div>

            <div class="news-block">
                <a href="http://www.economy.bg/appointments/view/31662/Lufthansa-Bylgariya-ima-nov-generalen-menidzhyr-prodazhbi">
                    Lufthansa България има нов генерален мениджър продажби
                </a>
                <p>От 1 май Заид Геблауи ще отговаря за цялата търговска дейност и продажбите на всички авиокомпании от Lufthansa Group на българския пазар.</p>
            </div>

            <div class="news-block">
                <a href="http://www.economy.bg/humancapital/view/31638/Zashto-edin-chuzhdestranen-IT-specialist-izbra-Bylgariya-pred-rodinata-si">
                    Защо един чуждестранен ИТ специалист избра България пред родината си?
                </a>
                <p>Тук човек може да си позволи много повече неща за доста по-малко пари в сравнение с останалите държави от ЕС, казва Денис Юхно, Delivery мениджър в софтуерната компания DataArt.</p>
            </div>
        </div>
    </section>

    <!-- Partners -->
    <section class="companies">
        <header>
            <h3>Партньори</h3>
        </header>
        <div>
            <a href="http://imperiaonline.bg/" target="_blank">
                <img src="images/partners/ImperiaOnline.png" alt="Imperia Online" />
            </a>
            <a href="https://upnetix.com/" target="_blank" />
                <img src="images/partners/Upnetix.png" alt="Upnetix" />
            </a>
            <a href="http://ittalents.bg/" target="_blank">
                <img src="images/partners/ittalents.png" alt="IT Talents" />
            </a>
            <a href="https://www.trader.bg/" target="_blank">
                <img src="images/partners/Traderbg.png" alt="TraderBG" />
            </a>
            <a href="https://www.nemetschek.bg/" target="_blank">
                <img src="images/partners/nemetschek.png" alt="Nemetschek" />
            </a>
            <a href="https://www.epam.com/" target="_blank">
                <img src="images/partners/epam.png" alt="Epam" />
            </a>
        </div>
    </section>
</main>
