<section class="messages-page">
    <div class="header-info">
        <h2>Съобщения</h2>
    </div>
    <div id="loader" ng-show="timeout"></div>
    <!-- <p ng-if="loaded && !messages.length">Нямате получени съобщения!</p> -->
    <!-- <p>Когато получите съобщение, то ще се покаже тук.</p> -->

    <!-- Company table -->    
    <table class="messages table" ng-if="user.role === 'COMPANY'">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Съобщение</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="msg in messages">
                <td class="no-wrap">{{msg.date | date}}</td>
                <td><strong><a href="{{msg.candidate.cv}}" target="_blank">{{msg.candidate.name}}</a></strong> кандидатства по вашата обява - <a href="/advert/{{msg.advertId}}">{{msg.advertTitle}}</a></td>
                <td><button
                    class="btn btn-danger"
                    mwl-confirm
                    title="Изтриване на съобщение"
                    message="Сигурни ли сте, че искате да изтриете съобщението?"
                    confirm-text="Изтрий"
                    cancel-text="Откажи"
                    placement="bottom"
                    on-confirm="deleteMessage(msg.id, $index)"
                    on-cancel="cancelClicked = true"
                    confirm-button-type="danger"
                    cancel-button-type="default"
                  ><i class="fas fa-times"></i></button></td>
            </tr>
        </tbody>
    </table>
    <div ng-if="user.role === 'COMPANY'"><p ng-if="loaded && !messages.length">Нямате получени съобщения!</p></div>

    <!-- Admin table -->    
    <table class="table" ng-if="user.role === 'ADMIN'">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Подател</th>
                <th>Текст</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="msg in messages track by $index" ng-class="{ 'table-primary': !msg.isRead }">
                <td class="no-wrap" ng-click="showMessage(msg.id)">{{msg.date | date}}</td>
                <td class="no-wrap" ng-click="showMessage(msg.id)">{{msg.email}}</td>
                <td class="max-size" ng-click="showMessage(msg.id)">{{msg.msg}}</td>
                <!-- <td><button type="button" 
                            class="btn btn-default" 
                            title="Изтрий съобщение" 
                            ng-click="deleteMessage(msg.id, $index, $event)"
                            >&times;</button></td>  -->
                <td><button
                    class="btn btn-danger"
                    mwl-confirm
                    title="Изтриване на съобщение"
                    message="Сигурни ли сте, че искате да изтриете съобщението?"
                    confirm-text="Изтрий"
                    cancel-text="Откажи"
                    placement="bottom"
                    on-confirm="deleteMessage(msg.id, $index)"
                    on-cancel="cancelClicked = true"
                    confirm-button-type="danger"
                    cancel-button-type="default"
                  ><i class="fas fa-times"></i></button></td>               
                <!-- <td><a href="/message/{{msg.id}}">Покажи</a></td> -->
            </tr>
        </tbody>
    </table>
    <div ng-if="user.role === 'ADMIN'"><p ng-if="loaded && !messages.length">Нямате получени съобщения!</p></div>
</section>