<div id="loader" ng-if="timeout"></div>

<section class="adverts-page">
    <!-- Adverts list -->
    <div class="adverts-list my-adverts">
        <!-- Heading -->
        <div class="heading">
            <h2 ng-if="$root.user.role === 'COMPANY'">Публикувани обяви</h2>
            <h2 ng-if="isActive('/favourites', true)">Наблюдавани обяви</h2>
            <h2 ng-if="isActive('/applied', true)">Кандидатствания</h2>
            <div>
                <label>Обяви на страница:
                    <select ng-model="advertsPerPage" ng-change="changeSize()">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                </label>
            </div>
        </div>
        <h5 ng-if="loaded && !adverts.length">Нямате публикувани обяви!</h5>
        <div class="adverts-div" dir-paginate="advert in adverts | itemsPerPage: advertsPerPage" total-items="totalAdverts" current-page="currentPage">
            <div ng-if="advert.paymentId !== 4" ng-class="{
                pro: advert.paymentId === 1,
                top: advert.paymentId === 2,
                vip: advert.paymentId === 3
                }" class="corner-ribbon corner-ribbon-left">
                <div class="ribbon-size">{{payments[advert.paymentId - 1].name}}</div>
            </div>
            <div ng-if="advert.img" class="advert-logo">
                <img ng-src="{{advert.img}}">
            </div>
            <div class="advert-info">
                <a href="/advert/{{advert.id}}">
                    {{advert.title}}
                </a>
                <div class="advert-details">
                    <span>Заплата от:
                        <b>{{advert.salary.min | currency: "лв."}}</b> до
                        <b>{{advert.salary.max | currency: "лв." }}</b>
                    </span>
                    <div>
                        <span>Публикувана на: {{ advert.date | date }}</span>, гр.
                        <span>{{cities[advert.cityId - 1].name}}</span>
                    </div>
                </div>
            </div>
            <div class="links" ng-if="$root.user.role === 'COMPANY'">
                <a href="/advert/{{advert.id}}/edit" class="btn btn-light">Промени обява</a>
                <a href="/my-adverts/{{advert.id}}/candidates" class="btn btn-light">Кандидати [{{advert.candidates.length}}]</a>
            </div>
        </div>
    </div>
</section>

<!-- Pagination -->
<div class="page-list">
    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>
