<div id="loader" ng-if="timeout"></div>
<p ng-if="loaded && !adverts.length">Няма публикувани обяви!</p>

<div class="adverts-page" ng-if="loaded && adverts">
  <!-- Adverts list -->
  <div class="adverts-list">
    <div class="adverts-div" ng-repeat="advert in adverts">
      <div class="advert-logo">LOGO</div>
      <div class="advert-info">
        <a href="/advert/{{advert.id}}">
          <p>{{advert.title}}</p>
        </a>
        <span>Заплата от:
          <b>{{advert.salary.min | currency: "лв."}}</b> до
          <b>{{advert.salary.max | currency: "лв." }}</b>
        </span>
        <br />
        <span>{{ advert.date | date: "fullDate" }}</span>, гр.
        <span>{{advert.city}}</span>
      </div>
    </div>
  </div>  
</div>

<!-- Pagination -->
<ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" ng-change="changePage()" previous-text="Назад" next-text="Напред"></ul>
