<div id="loader" ng-if="timeout"></div>
<p ng-if="loaded && !adverts.length">Няма публикувани обяви!</p>

<section class="adverts-page" ng-if="loaded && adverts">
    <!-- Adverts list -->
    <div class="adverts-list">
        <h2>Публикувани обяви</h2>
        <div class="adverts-div" ng-repeat="advert in adverts">
                <div ng-if="advert.paid !== 'free'" ng-class="{
                    pro: advert.paid === 'pro',
                    top: advert.paid === 'top',
                    vip: advert.paid === 'vip'
                    }" class="corner-ribbon corner-ribbon-left">
                    <div class="ribbon-size">{{advert.paid}}</div>
                </div>
            <div ng-if="$root.user.img" class="advert-logo">
                
                <img ng-src="{{$root.user.img}}">
            </div>
            <div class="advert-info">
                <a href="/advert/{{advert.id}}">
                    {{advert.title}}
                </a>
                <div class="advert-sallary">
                    <span>Заплата от:
                        <b>{{advert.salary.min | currency: "лв."}}</b> до
                        <b>{{advert.salary.max | currency: "лв." }}</b>
                    </span>
                    <div>
                        <span>Публикувана на {{ advert.date | date: "fullDate" }}</span>, гр.
                        <span>{{advert.city}}</span>
                    </div>
                </div>
            </div>
            <div class="links">
                <a href="/advert/{{advert.id}}/edit" class="btn btn-light">Промени обява</a>
                <a href="/my-adverts/{{advert.id}}/candidates" class="btn btn-light">Кандидати [{{advert.candidates.length}}]</a>
            </div>
        </div>        
    </section>

<!-- Pagination -->
<ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"
    ng-change="changePage()" previous-text="Назад" next-text="Напред"></ul>