<section class="price">
    <div class="header-info">
        <h2>Цени на услугите</h2>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-head">
                <th scope="col">Типове обяви</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="bold">PRO</span><br>Обявите от тип PRO се позиционират в началото на списъка преди всички останали обяви.</td>
                <td></td>
                <td><br><span class="bold">150.00 лв.</span></td>
            </tr>
            <tr>
                <td><span class="bold">TOP</span><br>Обявите от тип TOP се позиционират след обявите от тип PRO в списъка обяви.</td>
                <td></td>
                <td><br><span class="bold">150.00 лв.</span></td>
            </tr>
            <tr>
                <td><span class="bold">VIP</span><br>Обявите от тип VIP позиционират веднага след тези с тип TOP.</td>
                <td></td>
                <td><br><span class="bold">150.00 лв.</span></td>
            </tr>
            <tr>
                <td><span class="bold">Free (безплатна)</span><br>Обявите от тип Free (безплатна) се позиционират в списъка след всички обяви от платен тип - PRO, TOP и VIP.</td>
                <td></td>
                <td><br><span class="bold">150.00 лв.</span></td>
            </tr>
            <tr class="table-head">
                <th scope="col">Допълнителни опции</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <td><span class="bold">Допълнително промотиране във всички населени места в България</span></td>
                <td></td>
                <td><span class="bold">60.00 лв.</span></td>
            </tr>
            <tr>
                <td><span class="bold">Корпоративен дизайн</span><br>Използване на специален дизайн (темплейт)</td>
                <td></td>
                <td><br><span class="bold">24.00 лв.</span></td>
            </tr>
            <tr>
                <td><span class="bold">Подсилване на обява</span><br>Подсилване на вече публикувана обява, след което тя се позиционира отново в началото на резултатите от търсенията.</td>
                <td></td>
                <td><br><span class="bold">150.00 лв.</span></td>
            </tr>
            <tr>
                <td><span class="bold">Free (безплатна)</span><br>Обявите от тип Free (безплатна) се позиционират в списъка след всички обяви от платен тип - PRO, TOP и VIP.</td>
                <td></td>
                <td><br><span class="bold">За PRO 18.00 лв.<br>За TOP 12.00 лв.<br>За VIP 6.00 лв.</span></td>
            </tr>
            <tr>
                <td><span class="bold">Дистанционна работа</span></td>
                <td></td>
                <td><span class="bold">24.00 лв.</span></td>
            </tr>
        </tbody>
    </table>
</section>
