<section class="price">
    <div class="header-info">
        <h2>Цени на услугите</h2>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-head">
                <th scope="col">Типове обяви</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2" class="price-info">
                    <span class="bold">PRO</span>
                    <p>Обявите от тип PRO се позиционират в началото на списъка преди всички останали обяви.</p>
                </td>
                <td class="price-span"><span class="bold">150.00 лв.</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="bold">TOP</span>
                    <p>Обявите от тип TOP се позиционират след обявите от тип PRO в списъка обяви.</p>
                </td>
                <td class="price-span"><span class="bold">130.00 лв.</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="bold">VIP</span>
                    <p>Обявите от тип VIP позиционират веднага след тези с тип TOP.</p>
                </td>
                <td class="price-span"><span class="bold">110.00 лв.</span></td>
            </tr>
            <tr>
                <td colspan="3">
                    <span class="bold">Free (безплатна)</span>
                    <p>Обявите от тип Free (безплатна) се позиционират в списъка след всички обяви от платен тип - PRO, TOP и VIP.</p>
                </td>
            </tr>
            <tr class="table-head">
                <th scope="col">Допълнителни опции</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="bold">Допълнително промотиране във всички населени места в България</span>
                </td>
                <td class="price-span"><span class="bold">60.00 лв.</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="bold">Корпоративен дизайн</span>
                    <p>Използване на специален дизайн (темплейт)</p>
                </td>
                <td class="price-span"><span class="bold">24.00 лв.</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="bold">Подсилване на обява</span>
                    <p>Подсилване на вече публикувана обява, след което тя се позиционира отново в началото на резултатите от търсенията.<p>
                </td>
                <td class="price-span"><span class="bold">150.00 лв.</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="bold">Free (безплатна)</span>
                    <p>Обявите от тип Free (безплатна) се позиционират в списъка след всички обяви от платен тип - PRO, TOP и VIP.</p>
                </td>
                <td class="price-span"><span class="bold free">PRO - 18.00 лв.</span>
                    <span class="bold free">TOP - 12.00 лв.</span>
                    <span class="bold free">VIP - 6.00 лв.</span>
                </td>
            </tr>
            <tr>
                <td colspan="2"><span class="bold">Дистанционна работа</span></td>
                <td class="price-span"><span class="bold price">24.00 лв.</span></td>
            </tr>
        </tbody>
    </table>
</section>
