<div id="loader" ng-if="timeout"></div>
<!-- User -->
<div ng-if="loaded && user.role === 'USER'" class="profile-page">
    <section class="user-profile">
        <div class="user-info">
            <!-- Picture -->
            <div ng-if="!user.img" class="no-profile-picture">
                <img src="../images/member-default.jpg" alt="">
            </div>
            <div ng-if="user.img" class="profile-picture">
                <img ng-src="{{user.img}}">
            </div>

            <!-- Upload picture -->
            <label for="select">Прикачване на снимка</label>
            <input type=button ng-click="getFile('choose')" id="select" class="btn btn-primary" value="Избери файл" /><p></p>
            <input id="choose" hidden type="file" nv-file-select uploader="uploadPicture" class="upload" name="file"/>

            <!-- Info panel -->
            <div class="info-panel">
                <p><strong>Име:</strong> {{ user.firstName + ' ' + user.lastName }}</p>
                <p><strong>E-mail:</strong> {{ user.email }}</p>
                <p><strong>Регистриран на:</strong> {{ user.registeredDate | date }}</p>
            </div>
        </div>

        <div class="profil-controll">
            <div class="page-options">
                <strong>Настройки на профила</strong>
            </div>
            <div class="options">
                <span ng-if="!$root.user.cv">Прикачете Вашето CV, за да можете да кандидатствате по обяви.</span>
                <span><a ng-if="$root.user.cv" href="{{$root.user.cv}}" target="_blank">Моето CV</a></span>
                <div>
                    <!-- Upload CV -->
                    <button ng-click="getFile('chooseCV')" class="btn btn-primary"/>Прикачи CV</button>
                    <input id="chooseCV" hidden type="file" nv-file-select uploader="uploadCV" class="upload" name="file"/>
                </div>
            </div>
            <div class="options">
                <span><a href="/favourites/1">Наблюдавани обяви</a> [{{ user.favourites.length }}]</span>
            </div>
            <div class="options">
                <span><a href="/applied/1">Къде сте кандидатствали</a> [{{ user.applied.length }}]</span>
            </div>
            <div class="options">
                <span><a href="/update-profile">Промяна на лични данни</a></span>
            </div>
        </div>
    </section>
</div>

<!-- Company -->
<div ng-if="loaded && user.role === 'COMPANY'" class="profile-page">
    <section class="company-profile">
        <div class="company-info">
            <!-- Picture -->
            <div ng-if="!user.img" class="no-company-picture">
                <img src="../images/member-default.jpg" alt="">
            </div>
            <div ng-if="user.img" class="company-picture">
                <a href="/company/{{user.id}}"><img ng-src="{{user.img}}"></a>                
            </div>

            <!-- Upload picture -->
            <label for="select">Прикачване на лого</label>
            <input type=button ng-click="getFile('choose')" id="select" class="btn btn-primary" value="Избери файл" /><p></p>
            <input id="choose" hidden type="file" nv-file-select uploader="uploadPicture" class="upload" name="file"/>

            <!-- Info panel -->
            <div class="info-panel">
                <p><strong>Име:</strong> {{ user.title }}</p>
                <p><strong>E-mail:</strong> {{ user.email }}</p>
                <p><strong>Регистриран на:</strong> {{ user.registeredDate | date }}</p>
            </div>
        </div>

        <div class="profil-controll">
            <div class="page-options">
                <strong>Настройки на профила</strong>
            </div>
            <div class="options">
                <span><a href="/add-advert">Добави обява</a></span>
            </div>
            <div class="options">
                <span><a href="/my-adverts/1">Публикувани обяви</a> [{{ user.adverts.length }}]</span>
            </div>
            <div class="options">
                <span><a href="/messages">Съобщения</a> [{{ user.messages.length }}]</span>
            </div>
            <div class="options">
                <span><a href="/update-profile">Промяна на лични данни</a></span>
            </div>
        </div>
    </section>

    <div class="uploads">
        <div class="video-div">
            <h3>Видео</h3>
            <video src="{{user.video}}" controls controlsList="nodownload"></video>
            <!-- Upload video -->
            <div class="upload-file">
                <div nv-file-drop="" nv-file-over="" uploader="uploadVideo" over-class="other-over-zone" class="other-drop-zone zone">
                    Плъзнете видео, за да го качите
                </div>
                <div>
                    <div>
                            <span ng-if="uploadVideo.progress">{{ uploadVideo.progress }}%</span>
                        <div class="total-progress-box">
                            <div class="total-progress" ng-style="{ 'width': uploadVideo.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery-div">
            <!-- Gallery -->
            <simple-image-gallery ng-if="user.pictures[0]" isprofile="isProfile" deletepicture="deletePicture" images="user.pictures"></simple-image-gallery>
            <!-- Upload pictures -->
            <div class="upload-file">
                <div nv-file-drop="" nv-file-over="" uploader="uploadPictures" over-class="other-over-zone" class="other-drop-zone zone">
                    Плъзнете снимки, за да ги качите
                </div>
                <div>
                    <div>
                        <span ng-if="uploadPictures.progress">{{ uploadPictures.progress }}%</span>
                        <div class="total-progress-box">
                            <div class="total-progress" ng-style="{ 'width': uploadPictures.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    
</div>
