<div id="loader" ng-if="timeout"></div>
<!-- User -->
<div ng-if="loaded && !user.isCompany" class="profile-page">
  <section class="user-profile">
    <div class="user-info">
        <!-- Picture -->
        <div class="profile-picture">
            <img ng-src="{{user.img}}">
        </div>

        <!-- Upload picture -->
        <label for="select">Прикачване на снимка</label>
        <input type=button ng-click="getFile.simulate()" id="select" class="btn btn-primary" value="Избери файл" /><p></p>
        <input id="choose" hidden onchange="angular.element(this).scope().isChosen()" type="file" class="upload" name="file"/>
        <label ng-show="chosen" id="selected"></label>
        <button ng-if="chosen" class="btn btn-success" ng-click="uploadPicture()">Прикачи</button>

        <!-- Info panel -->
        <div class="info-panel">
            <p>Име: {{ user.firstName + ' ' + user.lastName }}</p>
            <p>E-mail: {{ user.email }}</p>
            <p>Регистриран на: {{ user.registeredDate | date }}</p>
        </div>
    </div>

    <div class="profil-controll">
        <div class="page-options">
            <strong>Настройки на профила</strong>
        </div>
        <div class="options">
            <span><a href="#!/myCV">Моите CV - та</a> [{{ user.cv.length }}]</span>
            <a href="#!/myCV">Покажи</a>
        </div>
        <div class="options">
            <span><a href="#!/favourites">Наблюдавани обяви</a> [{{ user.favourites.length }}]</span>
            <a href="">Покажи</a>
        </div>
        <div class="options">
            <span><a href="">Къде сте кандидатствали</a> [{{ user.applied.length }}]</span>
            <a href="">Покажи</a>
        </div>
        <div class="options">
            <span><a href="#!/updateProfile">Настрoйки на профила</a></span>
            <a href="#!/updateProfile">Покажи</a>
        </div>
    </div>
</section>
</div>

<!-- Company -->
<div ng-if="loaded && user.isCompany" class="profile-page">
    <section class="company-profile">
        <div class="company-info">
            <!-- Picture -->
            <div class="company-picture">
                <img ng-src="{{user.img}}">
            </div>
    
            <!-- Upload picture -->
            <label for="select">Прикачване на снимка</label>
            <input type=button ng-click="getFile.simulate()" id="select" class="btn btn-primary" value="Избери файл" /><p></p>
            <input id="choose" hidden onchange="angular.element(this).scope().isChosen()" type="file" class="upload" name="file"/>
            <label ng-show="chosen" id="selected"></label>
            <button ng-if="chosen" class="btn btn-success" ng-click="uploadPicture()">Прикачи</button>
    
            <!-- Info panel -->
            <div class="info-panel">
                <p>Име: {{ user.title }}</p>
                <p>E-mail: {{ user.email }}</p>
                <p>Регистриран на: {{ user.registeredDate | date }}</p>
            </div>
        </div>
    
        <div class="profil-controll">
            <div class="page-options">
                <strong>Настройки на профила</strong>
            </div>
            <div class="options">
                <span><a href="#!/add-advert">Добави обява</a></span>
                <a href="#!/add-advert">Покажи</a>
            </div>
            <div class="options">
                <span><a href="#!/favourites">Публикувани обяви</a> [{{ user.favourites.length }}]</span>
                <a href="">Покажи</a>
            </div>
            <div class="options">
                <span><a href="">Къде сте кандидатствали</a> [{{ user.applied.length }}]</span>
                <a href="">Покажи</a>
            </div>
            <div class="options">
                <span><a href="#!/updateProfile">Настрoйки на профила</a></span>
                <a href="#!/updateProfile">Покажи</a>
            </div>
        </div>
    </section>
</div>
