<section class="userProfile" ng-if="loaded">
    <div class="header-info">
        <h2>Настройки на профила</h2>
    </div>
    <form class="user-info" name="updateProfileForm" ng-submit="updateProfile()">
        <label><span>*Име</span>
            <input class="inputs" type="text" ng-model="user.firstName" required />
        </label>

        <label><span>*Фамилия</span>
            <input class="inputs" type="text" ng-model="user.lastName" required />
        </label>

        <label><span>Нова парола</span>
            <input class="inputs" ng-blur="validatePass()" type="password" ng-model="user.newPassword" />
        </label>
        <span class="red" ng-if="shortPass">Моля въведете парола с минимум 6 символа!</span>

        <label>
            <span>Повтори новата парола</span>
            <input class="inputs" ng-blur="validatePass()" type="password" ng-model="user.repeatNewPassword" />
        </label>
        <span class="red" ng-if="invalid">Моля въведете еднакви пароли!</span>

        <label>
            <span>*Текуща парола</span>
            <input class="inputs" type="password" ng-model="user.currentPass" required />
        </label>
        <span class="red" ng-if="errCode">Моля въведете текуща парола!</span>

        <div class="save-changes">
            <button class="btn btn-primary"
                    ng-disabled="updateProfileForm.$invalid"
                    ng-style="{ 'cursor' : (!updateProfileForm.$invalid) ? 'pointer' : 'normal' }"
            >Запази</button>
        </div>
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </form>
</section>
<!-- ng-click="clicked()" -->
