<section class="users-page">
    <div class="header-info">
        <h2>Регистрирани потребители</h2>
    </div>
    <div id="loader" ng-show="timeout"></div>
    <p ng-if="loaded && !users.length">Няма регистрирани потребители!</p>
    <table class="table table-striped" ng-if="users">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Име</th>
                <th scope="col">Имейл</th>
                <th scope="col">CV</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <!-- <td><img ng-if="user.img" src="{{user.img}}" alt=""></td> -->
                <td>{{ user.date | date }}</td>
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>{{user.email}}</td>
                <!-- <a href="/user/{{user.id}}">Повече</a> -->
                <td>
                    <a ng-if="user.cv" href="{{user.cv}}" target="_blank"><i class="far fa-file-pdf fa-2x"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
