.add-advert textarea {
    min-height: 250px;
}

.add-advert {
    font-size: 0.9rem;
}

.add-advert select {
    font-size: 1rem;
}

.add-advert .btn {
    margin-bottom: 20px;
}

#ng-wig-editable {
    max-width: 300px;
}