.advert-page {
    display: flex;
    width: 980px;
}

.advert-page .advert-right {
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advert-page aside.advert-left {
    width: 300px;
}

.advert-page aside.advert-left div {
    margin-bottom: 20px;
}

.advert-page aside.advert-left div span {
    display: block;
}
