.adverts-page {
    width: 980px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.adverts-list > div {
    display: flex;
    border: 1px solid;
}

.advert-logo {
    width: 150px;
}

.pagination-sm {
    justify-content: flex-end;
}

.advert-info {
    width: 500px;
}

.adverts-div {
    margin-bottom: 1rem;
}
