section.adverts-page {
    width: 980px;
    font-size: 0.9rem;
    display: flex;
    font-family: Tahoma, Helvetica, sans-serif;
    /*justify-content: space-between;*/
}

section.adverts-page h2 {
    border-bottom: 2px solid #4E4B4B;
    margin-bottom: 2rem;
}

section.adverts-page .adverts-list {
    width: 80%;
    margin: 0 auto;
}

section.adverts-page .adverts {
    width: 65%;
}

section.adverts-page .adverts-list > div {    
    display: flex;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-out;
    margin-bottom: 1.5rem;
}

section.adverts-page .adverts-list > div:hover {
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.6);
}

section.adverts-page .advert-logo {
    width: 150px;
    align-self: center;
    margin-left: 1rem;
    position: relative;
}

section.adverts-page .advert-logo img {
    max-width: 100%;
    max-height: 200px;
}

section.adverts-page .advert-info {
    margin-left: 3rem;
    padding: 0.5rem 0;
}

section.pagination-sm {
    justify-content: flex-end;
}


/*ribbon*/
/*.corner-ribbon {
    font-weight: bold;
    width: 85px;
    height: 85px;
    overflow: hidden;
    position: absolute;
    top: -4px;
    right: -4px;
}
.corner-ribbon > * {
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 14px;
    width: 120px;
    background-color: #ba89b6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ba89b6), to(#a769a2));
    color: #6b3f68;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.corner-ribbon > *:before, .corner-ribbon > *:after {
    content: "";
    border-top: 3px solid #7b4877;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}
.corner-ribbon > *:before {
    left: 0;
}
.corner-ribbon > *:after {
    right: 0;
}
.corner-ribbon.corner-ribbon-left {
    left: -3px;
}
.corner-ribbon.corner-ribbon-left > * {
    left: -30px;
    -webkit-transform: rotate(-45deg);
}*/