section.user-profile,
section.company-profile {
    width: 980px;
    margin: 0 auto;

    display: flex;
}

section.user-profile .user-info,
section.company-profile .company-info {
    width: 30%;
}

section.user-profile .user-info img,
section.company-profile .company-info img {
    width: 80%;
}

section.user-profile .info-panel,
section.company-profile .info-panel {
    margin-top: 30px;
    padding: 27px 20px;
    background: #FFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);;
}

section.user-profile .profil-controll,
section.company-profile .profil-controll {
    margin-left: 50px;

    width: 100%;
}

section.user-profile .page-options,
section.company-profile .page-options {
    background: rgba(186, 216, 247, 0.9);;
    color: #000;

    font-size: 15px;
    padding: 10px 10px 10px 10px;
}

section.user-profile .options,
section.company-profile .options {
    display: flex;
    justify-content: space-between;

    padding: 26px 0;
    border-bottom: 1px solid #CCC;
}

.profile-picture {
    margin-bottom: 1.5rem;
}

.profile-page {
    padding-bottom: 2rem;
}