<div><a href="/home"><img src="images/logo.png" /></a></div>
<nav ng-if="headerLoaded" class="nav-menu">
    <ul class="nav-primary">
        <!-- Left part of the menu -->
        <!-- Home -->
        <li class="nav-item home-btn"
            ng-class="{activeMenu: isActive('/home') }">

            <a href="/home">Начало</a>
        </li>

        <!-- Profile -->
        <li class="nav-item profile-btn"
            ng-if="$root.isLogged && $root.user.role !== 'ADMIN'"
            ng-class="{activeMenu: isActive('/profile') }">

            <a href="/profile">Профил</a>
        </li>

        <!-- Add advert -->
        <!-- <li class="nav-item add-advert-btn"
            ng-if="$root.isLogged && $root.user.role === 'COMPANY'"
            ng-class="{activeMenu: isActive('/add-advert') }">

            <a href="/add-advert">Добави обява</a>
        </li> -->

        <!-- Favourites -->
        <!-- <li class="nav-item favourites-btn"
            ng-if="$root.isLogged && $root.user.role !== 'ADMIN' && $root.user.role !== 'COMPANY'"
            ng-class="{activeMenu: isActive('/favourites') }">

            <a href="/favourites">Наблюдавани</a>
        </li> -->

        <!-- Adverts -->
        <li class="nav-item adverts-btn"
            ng-class="{activeMenu: isActive('/adverts') }">

            <a href="/adverts">Обяви за работа</a>
        </li>

        <!-- (Admin) Users -->
        <li class="nav-item users-btn"
            ng-if="$root.isLogged && $root.user.role === 'ADMIN'"
            ng-class="{activeMenu: isActive('/admin/users') }">

            <a href="/admin/users">Потребители</a>
        </li>

        <!-- Companies -->
        <li class="nav-item companies-btn"
            ng-class="{activeMenu: isActive('/companies') }">

            <a href="/companies">Работодатели</a>
        </li>

        <!-- Right part of the menu -->
        <!-- About -->
        <li class="menu-right nav-item about-btn with-margin"
            ng-class="{activeMenu: isActive('/about') }">

            <a href="/about">За нас</a>
        </li>

        <!-- Contacts -->
        <li class="menu-right nav-item contacts-btn"
            ng-class="{activeMenu: isActive('/contacts') }">

            <a href="/contacts">Контакти</a>
        </li>

        <!-- Login -->
        <li class="menu-right nav-item login-btn"
            ng-if="!$root.isLogged"
            ng-class="{activeMenu: isActive('/auth') }">

            <a href="/auth">Вход и регистрация</a>
        </li>

        <!-- Logout -->
        <li class="menu-right nav-item logout-btn"
            ng-if="$root.isLogged"
            ng-class="{activeMenu: isActive('/logout') }">

            <a href="/logout">Излез</a>
        </li>
    </ul>
</nav>

<!-- <section class="search">
    <div>
        <input type="text">
    </div>
</section> -->
