//$ribbonTopColor: #a7a8eb;
@mixin default-page-size {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Tahoma, Helvetica, sans-serif;
    color: #4E4B4B;
    font-size: 15px
}

@mixin header-h3 {
    font-size: 27px;        
    margin-top: 30px 0;        
    text-align: center;
    font-weight: bold;
}

$ribbonColors: (
    pro: #a7a8eb,
    top: #ba89b6,
    vip: #ee3c45,
);

$margin-bottom: 20px;
$border-bottom: 2px solid #4E4B4B;