@import "_config.scss";

.side-ribbon {
    position: absolute;
    top: 0.8em;
    /*background: #ba89b6;*/
    color: #fff;
    padding: .5em 1em;
    width: 80px;
    height: 40px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    .ribbon-text-size {
        font-weight: bold;
        text-transform: uppercase;
    }
    &.pro {
        background: map-get($ribbonColors, pro);
        &:before {
            border-color: darken(map-get($ribbonColors, pro), 30%) transparent transparent transparent;
        }
    }
    &.top {
        background: map-get($ribbonColors, top);
        &:before {
            border-color: darken(map-get($ribbonColors, top), 30%) transparent transparent transparent;
        }
    }
    &.vip {
        background: map-get($ribbonColors, vip);
        &:before {
            border-color: darken(map-get($ribbonColors, vip), 30%) transparent transparent transparent;
        }
    }
    &:before {
        content: "";
        position: absolute;
        display: block;
        border-style: solid;
        /*border-color: #8b5287 transparent transparent transparent;*/
        bottom: -0.5em;
    }
    &.left-ribbon {
        left: -1em;
        &:before {
            left: 0;
            border-width: 0.5em 0 0 1em;
        }
    }
}