@import '_config.scss';

section {
    &.about {
        @include default-page-size;
        .header-info {
            margin-bottom: $margin-bottom + 10px;
            h2 {
                border-bottom: $border-bottom;
            }
        }
        p {
            font-size: 15px;
        }
        ul.list {
            list-style-type: disc;
        }
        @media all and (max-width: 980px) {
            width: 100%
        }
    }
}
