@import "_config.scss";

section {
    &.about {
        width: 1000px;
        margin: 0 auto;
        padding: 20px;
        font-family: Tahoma, Helvetica, sans-serif;
        color: #4E4B4B;
        .header-info {
            margin-bottom: 30px;
            h2 {
                border-bottom: 2px solid #4E4B4B;
            }
        }
        p {
            font-size: 15px;
        }
        ul.list {
            list-style-type: disc;
        }
    }
} 
