@import '_config.scss';

.add-advert {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    .first {
        margin-top: 1.5rem;
    }
    textarea {
        min-height: 250px;
    }
    select {
        font-size: 1rem;
    }
    .btn {
        margin-bottom: 20px;
        width: 205px;
    }
}

#ng-wig-editable {
    max-width: 300px;
}

.alert-div > div {
    display: flex;
    justify-content: space-between;
}
