@import "_config.scss";

section{
    &.advert-page {
        display: flex;
        width: 980px;
        margin: 20px 0;
        main {
            width: 680px;
            display: flex;
            flex-direction: column;
            align-items: center;
            div.company-picture {
                margin-bottom: 20px;
            }
            .advert-description {
                width: 100%;
                h4 {
                    align-self: flex-start;
                    margin: 40px 60px 20px; 
                }
                div.discription {
                    align-self: flex-start;   
                    margin-left: 60px;                 
                }
            }            
        }
        aside {
            width: 300px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            position: relative;
            h5 {
                margin: 20px 0px;
                text-align: center;
                padding-left: 0;
            }
            .advert-info {    
                width: 100%;
                padding: 0 20px;
            }
            div {
                margin-bottom: 20px;
            }
            div span {
                display: block;
                &.bold {
                    font-weight: bold;
                    font-size: 14px;
                }
            }
            .buttons {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .btn {
                    margin: 10px auto;
                }
            }
            // .side-ribbon {
            //     position: absolute;
            //     top: -1em;
            //     /*background: #ba89b6;*/
            //     color: #fff;
            //     padding: .5em 1em;
            //     width: 80px;
            //     height: 40px;
            //     text-align: center;
            //     -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            //     -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            //     box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
            //     &:before {
            //         content: "";
            //         position: absolute;
            //         display: block;
            //         border-style: solid;
            //         /*border-color: #8b5287 transparent transparent transparent;*/
            //         bottom: -1em;
            //     }
            //     &.left-ribbon {
            //         left: -2em;
            //         &:before {
            //             left: 0;
            //             border-width: 1em 0 0 2em;
            //           }
            //       }
            //     .ribbon-size {
            //         font-weight: bold;
            //         text-transform: uppercase;
            //     }
            //     .side-ribbon.pro {
            //         color: darken(map_get($ribbonColors, pro), 30%);
            //         background: map_get($ribbonColors, pro);
            //         &:before {
            //             border-color: darken(map_get($ribbonColors, pro), 30%) transparent transparent transparent;
            //         }
            //     }
            //     .side-ribbon.top    {
            //         color: darken(map_get($ribbonColors, top), 30%);
            //         background: map_get($ribbonColors, top);
            //         &:before {
            //             border-color: darken(map_get($ribbonColors, top), 30%) transparent transparent transparent;
            //         }
            //     } 
            //     .side-ribbon.vip    {
            //         color: darken(map_get($ribbonColors, vip), 30%);
            //         background: map_get($ribbonColors, vip);
            //         &:before {
            //             border-color: darken(map_get($ribbonColors, vip), 30%) transparent transparent transparent;
            //         }
            //     }                
            // }
        }
    }
}

/*ribbon*/

.advert-page .side-ribbon {
    position: absolute;
    top: 0.8em;
    /*background: #ba89b6;*/
    color: #fff;
    padding: .5em 1em;
    width: 80px;
    height: 40px;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

.advert-page .ribbon-size {
      font-weight: bold;
      text-transform: uppercase;
  }

.advert-page .side-ribbon.pro {
    background: #a7a8eb;
  }

.advert-page .side-ribbon.top {
    background: #ba89b6;
  }

.advert-page .side-ribbon.vip {
    background: #ee3c45;
  }

.advert-page .side-ribbon.pro:before {
    border-color: #5443b8 transparent transparent transparent;
  }

.advert-page .side-ribbon.top:before {
    border-color: #8b5287 transparent transparent transparent;
  }

.advert-page .side-ribbon.vip:before {
    border-color: #992727 transparent transparent transparent;
  }

.advert-page .side-ribbon:before {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    /*border-color: #8b5287 transparent transparent transparent;*/
    bottom: -1em;
  }

.advert-page .side-ribbon.left-ribbon {
    left: -2em;
  }

.advert-page .side-ribbon.left-ribbon:before {
    left: 0;
    border-width: 1em 0 0 2em;
  }