@import '_config.scss';

section {
    &.company-page {
        @include default-page-size;
        margin: 2rem;
        padding: 0;
        div.header {
            border-top: $border-bottom;
            border-bottom: $border-bottom;
            .company-img {
                width: 100%;
                align-self: center;
                background: none;
                img {
                    display: block;
                    max-height: 200px;
                    margin: 0 auto;
                    padding: 15px 0;
                    @media all and (max-width: 980px) {
                        width: 50%;
                    }
                }
            }
            h2 {
                padding-bottom: 20px;
                text-align: center;
            }
        }
        div.company-info {
            display: flex;
            justify-content: space-between;
            margin-top: 2.5rem;
            main {
                width: 48%;
                div {
                    margin-bottom: 25px;
                    video {
                        width: 100%;
                    }
                }
            }
            div > h5 {
                padding-bottom: 10px;
                border-bottom: 2px solid #868686;
            }
            aside {
                width: 45%;
                //margin-left: 60px;
                div.adverts-info {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 20px 0;
                    border-bottom: 1px solid #ccc;
                }
                .page-list {
                    margin-top: 20px;
                }
            }
            @media all and (max-width: 800px) {
                flex-direction: column;
                main,
                aside {
                    width: 90%;
                    align-self: center;
                }
            }
        }
        @media all and (max-width: 980px) {
            width: 100%;
            margin: 2rem 0;
            div.company-info {
                justify-content: space-around;
            }
        }        
    }
}
