@import '_config.scss';

section {
    &.company-page {
        @include default-page-size;
        margin: 2rem;
        padding: 0;
        div.header {
            border-top: $border-bottom;
            border-bottom: $border-bottom;
            .company-img {
                width: 100%;
                align-self: center;
                background: none;
                img {
                    display: block;
                    max-height: 200px;
                    margin: 0 auto;
                    padding: 15px 0;
                }
            }
            h2 {
                padding-bottom: 20px;
                text-align: center;
            }
        }
        div.company-info {
            display: flex;
            justify-content: space-between;
            margin: 40px 0;
            main {
                width: 48%;
                div {
                    margin-bottom: 25px;
                }
            }
            div > h5 {
                padding-bottom: 10px;
                border-bottom: 2px solid #868686;
            }
            aside {
                width: 45%;
                //margin-left: 60px;
                div.adverts-info {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    padding: 20px 0;
                    border-bottom: 1px solid #ccc;
                }
            }
        }
    }
}
