@import '_config.scss';

section {
    &.contacts {
        @include default-page-size;        
        .header-info h2 {
            border-bottom: 2px solid #4e4b4b;
        }
        .contact-div {
            // display: flex;
            // justify-content: space-around;
            form {
                // display: flex;
                // flex-direction: column;
                // width: 330px;
                font-size: 15px;
                margin-top: 25px;
                h4 {
                    margin-bottom: 20px;
                }
                span {
                    color: #ee382d;
                    margin-bottom: 10px;
                }
                textarea {
                    height: 180px;
                    margin-bottom: 15px;
                }
                .btn {
                    margin-bottom: 20px;
                }
            }
            .contact-info {
                margin-top: 25px;
                h4 {
                    margin-bottom: 20px;
                }
                p {
                    font-size: 15px;
                }
            }
        }
        p.red {
            color: #ee382d;
            font-size: 14px;
            a {
                font-style: italic;
                font-size: 14px;
                color: #ee382d;
            }
        }
        @media all and (max-width: 980px) {
            width: 100%;
        }
    }

}
