@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;

    src: url(/vendors/fonts/OpenSans-Bold.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    align-items: center;
    flex-direction: column;

    min-height: 500px;
    // padding-top: 1.5rem;
    /* margin: 20px 0; */
}

.home-page {
    padding-bottom: 0;
}

header {
    display: flex;
    // align-items: center;
    flex-direction: column;
}

header img {
    width: 450px;
}

header > div {
    margin-bottom: 1.5rem;
    padding: 0.25rem 0.5rem;
    width: 980px;
    align-self: center;
    // background: rgba(0, 0, 0, 0.5);
}

/* Navigation */

nav {
    top: 0;

    display: flex;
    /* align-items: center; */
    /* flex-direction: column; */
    justify-content: space-between;

    width: 980px;
    margin: 0 auto;

    background: rgba(30, 144, 255, 0.9);

    > ul {
        line-height: 1;

        display: flex;
        zoom: 1;
        flex-wrap: wrap;
        /* justify-content: center; */

        width: 100%;
        margin: 0;
        padding: 0;

        list-style: none;

        /* text-align: center; */
        /* background: white; */

        > li > a {
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            font-weight: 700;

            position: relative;

            display: block;

            padding: 1rem;

            cursor: pointer;
            user-select: none;
            transition: color 0.25s;
            text-decoration: none;
            text-transform: uppercase;
            /* color: black; */

            color: #fff;
        }
    }
    > ul li {
        display: inline-block;
    }
    > ul li a:hover {
        text-decoration: none;

        color: #fff;
        background: rgba(0, 0, 139, 0.5);
    }
}

.with-margin {
    margin-left: auto;
}

@media all and (max-width: 1020px) {
    nav {
        width: 100%;
    }
    nav ul {
        width: 100%;
    }
}

@media all and (max-width: 800px) {
    nav > ul > li {
        flex: 1 1 20%;
    }
}

@media all and (max-width: 480px) {
    nav {
        position: static;
    }
    nav > ul > li {
        flex: 1 1 100%;
    }
}

.nav-menu {
    ul li a:hover:before {
        width: 100%;
    }
    ul li a:before {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 0;
        height: 3px;

        content: '';
        transition: width 0.25s;

        background: gold;
    }
    ul li.active a {
        color: #333;
    }
}

.activeMenu {
    background: rgba(0, 0, 139, 0.5);
}

.activeMenu a:before {
    width: 100% !important;

    background: orange !important;
}

@media all and (max-width: 480px) {
    .nav-menu ul li a:hover:before {
        width: 0;
    }
}

/* Loader */
#loader {
    width: 100px;
    height: 100px;

    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Alert animation */
.alert {
    animation-name: animatebottom;
    animation-duration: 0.5s;
}

@keyframes animatebottom {
    from {
        bottom: -25px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

.alert.ng-leave,
.alert.ng-leave-active {
    display: none !important;
}

/* Transition for the pages */
.page.ng-enter {
    transition: 0.5s linear all;

    opacity: 0;
}

.page.ng-enter.ng-enter-active {
    opacity: 1;
}

.page.ng-leave {
    transition: 0.1s linear all;

    opacity: 1;
}
.page.ng-leave.ng-leave-active {
    opacity: 0;
}

.messages-page {

    margin-top: 1.5rem;
}
.messages {
    width: 980px;
    
    // text-align: center;
}

.messages th {
    text-align: center;
    &:first-child {
        width: 130px;
    }
}
