@import "_config.scss";

section {
    &.userProfile {
        width: 1000px;
        margin: 0 auto;
        padding: 20px;    
        font-family: Tahoma, Helvetica, sans-serif;    
        color: #4E4B4B;
        .header-info {
            margin-bottom: 30px;
            h2 {
                border-bottom: 2px solid #4E4B4B;
            }
        }
        form {
            display: flex;
            flex-direction: column;        
            width: 700px;
            margin: 20px auto;
            padding: 10px;        
            border: 1px solid #dedede;
            border-radius: 5px;
            box-shadow: 1px 1px 2px #bbc6cc;   
            label {
                display: flex;
                justify-content: center;
                margin: 0;
                span {
                    float: left;
                    font-size: 15px;                
                    width: 120px;
                    margin-top: 10px;
                }
                input {
                    font-size: 12px;
                    line-height: 15px;                
                    width: 341px;
                    height: 37px;                
                    margin: 11px 6px 16px 0;
                    padding: 3px 3px 3px 5px;                
                    border: 1px solid #dadada;
                    border-radius: 5px;
                }
            } 
            span.red {
                color: red;
                font-size: 15px;
                text-align: center;
            }
            .save-changes {
                margin: 0 auto;
                padding-bottom: 20px;
                button.btn {
                    width: 150px;
                }
            }
        }
    }
}

