@import "_config.scss";

section {
    &.users-page {
        @include default-page-size;
        .header-info {
            margin-bottom: $margin-bottom + 10px;
            h2 {
                border-bottom: $border-bottom;
            }
        }
        .table {
            width: 100%;
            text-align: center;
            // th {
            //     &:first-child {
            //         width: 15%;
            //     }
            //     &:nth-child(2) {
            //         width: 35%;
            //     }
            //     &:last-child {
            //         width: 15%;
            //     }
            // }
        }
    }
}