@import '_config.scss';

section {
    &.users-page {
        @include default-page-size;
        .header-info {
            margin-bottom: $margin-bottom + 10px;
            h2 {
                border-bottom: $border-bottom;
            }
        }
        .table {
            width: 100%;
            text-align: center;
            // th {
            //     &:first-child {
            //         width: 15%;
            //     }
            //     &:nth-child(2) {
            //         width: 35%;
            //     }
            //     &:last-child {
            //         width: 15%;
            //     }
            // }
            tr.blocked {
                color: red;
                a {
                    color: red;
                }
            }
            button {
                font-size: 0.9rem;
            }
            th {
                cursor: pointer;
            }
            tr td, tr th {
                vertical-align: middle;
            }
            tr td:last-child {
                width: 120px;
            }
            td {
                word-break: break-word;
            }
        }
    }
}
