<div id="loader" ng-if="timeout"></div>
<p ng-if="loaded && !users.length">Няма регистрирани потребители!</p>
<table class="table" ng-if="loaded && $root.user.role === 'ADMIN'">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имейл</th>
            <th scope="col">Име</th>
            <th scope="col">Фамилия</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <th scope="row">{{user.email}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                <a href="/user/{{user.id}}">Повече</a>
            </td>
        </tr>
    </tbody>
</table>
